<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Popularity</title>

	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="../vars_script2.js"></script>
<!--	<script src="{{ url_for('static', filename='myScript.js') }}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<style>
		.axis {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}



		#wrapper {
			background-color:#eee;
		}
			#header {
				background-color:#ccc;
				height: 100px;
			}
			#teamsMenu {
				min-height: 400px;
				width: 200px;
				float: left;
				background-color:#ccc;
			}

				#teams_form ul{
					padding:0;
				}
				#teams_form li{
					padding:0.15em 0 0.5em 1.5em;
					margin-bottom:0.2em;
					text-indent:0.4em;
					font-weight:bold;
					list-style:none;
				}


			#mainGraph {
				text-align:center;
				min-height: 600px;
				width: 400px;
				float: left;
				background-color:#eee;
			}
			#statsWrapper {
				min-height: 600px;
				width: 300px;
				float: right;
				background-color:#ccc;
			}
				#teamLogo {
					background-color:#eee;
				}
				#statsGraph {
					background-color:#ccc;
				}
				
	
			
			#footer {
				background-color:#ccc;
			}

			.clear{
				clear: both;			
			}
			
			#scatter-load{
				font-family:"Helvetica Neue";
				color: #686765;
			}
			.name {
				float:right;
				color:#27aae1;
			}
			.axis {
				fill: none;
				stroke: #AAA;
				stroke-width: 2px;
			}
			text {
				stroke: none;
				fill: #666666;
				font-size: .6em;
				font-family:"Helvetica Neue"
			}
			.label {
				fill: #414241;
			}
			.node {
				cursor:pointer;
			}
			.dot {
				opacity: .7;
				cursor: pointer;
			}
			
			

	</style>
	

</head>
<body>

	<div id="wrapper">

		<div id="header">

		</div> <!-- end header -->

		
			<form id="teams_form" action="">
			<div id="teamsMenu">
				
				<select name="team">
					<option value="ARSENAL">ARSENAL</option>
					<option value="ASTONVILLA">ASTONVILLA</option>
					<option value="BOURNEMOUTH">BOURNEMOUTH</option>
					<option value="CHELSEA">CHELSEA</option>
					<option value="CRYSTALPALACE">CRYSTALPALACE</option>
					<option value="EVERTON">EVERTON</option>
					<option value="LEICESTER">LEICESTER</option>
					<option value="LIVERPOOL">LIVERPOOL</option>
					<option value="MANCITY">MANCITY</option>
					<option value="MANUNITED">MANUNITED</option>
					<option value="NEWCASTLE">NEWCASTLE</option>
					<option value="NORWICH">NORWICH</option>
					<option value="SOUTHAMPTON">SOUTHAMPTON</option>
					<option value="STOKE">STOKE</option>
					<option value="SUNDERLAND">SUNDERLAND</option>
					<option value="SWANSEA">SWANSEA</option>
					<option value="TOTENHAM">TOTENHAM</option>
					<option value="WATFORD">WATFORD</option>
					<option value="WESTBROM">WESTBROM</option>
					<option value="WESTHAM">WESTHAM</option>






				</select>
				<br>
				<select name="feature">
					<option value="Accuracy">Accuracy</option>
					<option value="Aggressiveness">Aggressiveness</option>
					<option value="Attack">Attack</option>
					<option value="Pressure">Pressure</option>
					<option value="Teamplay">Teamplay</option>
					
					
				</select>
				<br>
				<input id="button" type="submit" value="Submit"/>
			</div>	
				
				</form>

		 <!-- end teamsMenu -->
<!--  -->
<!-- 		<div id="mainGraph"> -->
<!-- 			<br/> -->
<!-- 			<div id="results"> -->
<!-- 			</div> -->
<!-- 			end results --> 
<!--  -->
<!-- 			<script> -->
<!--  -->
<!--  -->
<!-- 				if( team !== null && team !== ""){ -->
<!-- 					d3.json("http://localhost:5000/data/"+team+"/"+feature, function(error, data){ -->
<!-- 				 -->
<!-- 						var svg = d3.select("#results").append("svg").attr("width",750) -->
<!-- 												.attr("height",30);			 -->
<!--  -->
<!--  -->
<!-- 						 -->
<!--  -->
<!-- 						svg.selectAll("text.data") -->
<!-- 						.data(data) -->
<!-- 						.enter() -->
<!-- 						.append("text") -->
<!-- 						.classed("data", true) -->
<!-- 						.text(function(d) { -->
<!-- 							return d.value1+" "+d.value2; -->
<!-- 						}) -->
<!-- 						.attr("x", 10) -->
<!-- 						.attr("y", function (d,i) { return i*10;}) -->
<!-- 						.style("text-anchor", "middle"); -->
<!--  -->
<!-- 					}); -->
<!-- 				} -->
<!-- 				 -->
<!--  -->
<!-- 			</script> -->
<!--  -->
<!--  -->
<!-- 		</div>  -->
		
		<!-- end mainGraph -->
		
		
		
		<h3>Visual Analytics Course - Oxford University</h3>

		<p>Scatter plot - loading data <span class="name">Eamonn Maguire</span>

		</p>
		<div id="scatter-load"></div>
		
<!-- 		<script> -->
<!-- 		var data = [{ -->
<!-- 			"name": "Dairy Milk", -->
<!-- 				"manufacturer": "cadbury", -->
<!-- 				"value1": 45, -->
<!-- 				"value2": 2 -->
<!-- 		}, { -->
<!-- 			"name": "Galaxy", -->
<!-- 				"manufacturer": "Nestle", -->
<!-- 				"value1": 42, -->
<!-- 				"value2": 3 -->
<!-- 		 -->
<!-- 		}, -->
<!-- 		{ -->
<!-- 			"name": "suoprnam", -->
<!-- 				"manufacturer": "Nestle", -->
<!-- 				"value1": 35, -->
<!-- 				"value2": 2 -->
<!-- 		 -->
<!-- 		}]; -->
<!--  -->
<!-- </script> -->







	
		<script>
		
		d3.json("http://localhost:5000/data/"+team+"/"+feature, function(error, data){
			//		data.forEach(function(d) {
			//			d.value1 = parseDate(d.value1);
			//			d.value2 = +d.value2;
			//		}
			//		);
			showScatterPlot(data);
				console.log(data); // this is your data
			})
		// call the method below
		//showScatterPlot(data);

		function showScatterPlot(points) {
			// just to have some space around items. 
			var margins = {
				"left": 40,
					"right": 30,
					"top": 30,
					"bottom": 30
			};
			
			var width = 500;
			var height = 500;
			
			// this will be our colour scale. An Ordinal scale.
			var colors = d3.scale.category10();

			// we add the SVG component to the scatter-load div
			var svg = d3.select("#scatter-load").append("svg").attr("width", width).attr("height", height).append("g")
				.attr("transform", "translate(" + margins.left + "," + margins.top + ")");

			// this sets the scale that we're using for the X axis. 
			// the domain define the min and max variables to show. In this case, it's the min and max value1s of items.
			// this is made a compact piece of code due to d3.extent which gives back the max and min of the value1 variable within the dataset
			var x = d3.scale.linear()
				.domain(d3.extent(points, function (d) {
				return d.value1;
			}))
			// the range maps the domain to values from 0 to the width minus the left and right margins (used to space out the visualization)
				.range([0, width - margins.left - margins.right]);

			// this does the same as for the y axis but maps from the value2 variable to the height to 0. 
			var y = d3.scale.linear()
				.domain(d3.extent(points, function (d) {
				return d.value2;
			}))
			// Note that height goes first due to the weird SVG coordinate system
			.range([height - margins.top - margins.bottom, 0]);

			// we add the axes SVG component. At this point, this is just a placeholder. The actual axis will be added in a bit
			svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + y.range()[0] + ")");
			svg.append("g").attr("class", "y axis");

			// this is our X axis label. Nothing too special to see here.
			svg.append("text")
				.attr("fill", "#414241")
				.attr("text-anchor", "end")
				.attr("x", width / 2)
				.attr("y", height - 35)
				.text("value1 in pence (£)");


			// this is the actual definition of our x and y axes. The orientation refers to where the labels appear - for the x axis, below or above the line, and for the y axis, left or right of the line. Tick padding refers to how much space between the tick and the label. There are other parameters too - see https://github.com/mbostock/d3/wiki/SVG-Axes for more information
			var xAxis = d3.svg.axis().scale(x).orient("bottom").tickPadding(2);
			var yAxis = d3.svg.axis().scale(y).orient("left").tickPadding(2);

			// this is where we select the axis we created a few lines earlier. See how we select the axis item. in our svg we appended a g element with a x/y and axis class. To pull that back up, we do this svg select, then 'call' the appropriate axis object for rendering.    
			svg.selectAll("g.y.axis").call(yAxis);
			svg.selectAll("g.x.axis").call(xAxis);

			// now, we can get down to the data part, and drawing stuff. We are telling D3 that all nodes (g elements with class node) will have data attached to them. The 'key' we use (to let D3 know the uniqueness of items) will be the name. Not usually a great key, but fine for this example.
			var data = svg.selectAll("g.node").data(points, function (d,i) {
				return i;
			});

			// we 'enter' the data, making the SVG group (to contain a circle and text) with a class node. This corresponds with what we told the data it should be above.
			
			var dataGroup = data.enter().append("g").attr("class", "node")
			// this is how we set the position of the items. Translate is an incredibly useful function for rotating and positioning items 
			.attr('transform', function (d) {
				return "translate(" + x(d.value1) + "," + y(d.value2) + ")";
			});

			// we add our first graphics element! A circle! 
			dataGroup.append("circle")
				.attr("r", 5)
				.attr("class", "dot")
				.style("fill", function (d) {
					// remember the ordinal scales? We use the colors scale to get a colour for our manufacturer. Now each node will be coloured
					// by who makes the data. 
					return colors(d.manufacturer);
			});

			// now we add some text, so we can see what each item is.
			dataGroup.append("text")
				.style("text-anchor", "middle")
				.attr("dy", -10)
				.text(function (d) {
					// this shouldn't be a surprising statement.
					return d.name;
			});
		}
		
		</script>
		
		
		

		
		

		<div id="statsWrapper">
			<div id="teamLogo">
				<br/>
				<img id="team_logo" src=""></img> <!-- end team_logo -->
				<script>
				if( team !== null && team !== ""){
					var logo_path = "images/"+team+".png";
					document.getElementById('team_logo').src = logo_path;
				}
				</script>
			</div> <!-- end teamLogo -->		
		</div> <!-- end statsWrapper -->
		

		
		

			
		
		
	
		
		<div class="clear"></div>
		<div id="footer">
		footer
		</div> <!-- end footer -->

	</div> <!-- end wrapper -->

</body>
</html>
