<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Popularity</title>

	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="vars_script.js"></script>
<!--	<script src="{{ url_for('static', filename='myScript.js') }}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<style>
		.axis {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}



		#wrapper {
			background-color:#eee;
		}
			#header {
				background-color:black;
				height: 40px;
			}
			#teamsMenu {
				min-height: 400px;
				width: 200px;
				float: left;
				background-color:#ccc;
			}

				#teams_form ul{
					padding:0;
				}
				#teams_form li{
					padding:0.15em 0 0.5em 1.5em;
					margin-bottom:0.2em;
					text-indent:0.4em;
					font-weight:bold;
					list-style:none;
				}

			#teamLogo {
				float: left;
				background-color:#eee;
				padding-top:50px;
				padding-left:50px;
			}

			#mainGraph {
				text-align:center;
				min-height: 600px;
				width: 400px;
				float: left;
				background-color:#eee;
			}
			#statsWrapper {
				min-height: 600px;
				width: 300px;
				float: right;
			}
				#statsGraph {
					background-color:#eee;
					padding-top:50px;
				}

			
			#footer {
				background-color:black;
			}

			.clear{
				clear: both;			
			}

	</style>

</head>
<body>

	<div id="wrapper">

		<div id="header">

		</div> <!-- end header -->

		<div id="teamsMenu">
			<form id="teams_form" action="">
				<input id="choose_team" type="hidden" name="team" value="">
				<input id="stats_date" type="hidden" name="stats_date" value=""/>
				<ul>
					<li id="bournemouth">
						<input type="submit" value="BOURNEMOUTH" onclick="return bournemouth();" />
						<script>
						function bournemouth() {
							document.getElementById('choose_team').value = "BOURNEMOUTH";
							return true;
						}
						</script>
					</li>
					<li id="arsenal">
						<input type="submit" value="ARSENAL" onclick="return arsenal();" />
						<script>
						function arsenal() {
							document.getElementById('choose_team').value = "ARSENAL";
							return true;
						}
						</script>
					</li>
					<li id="astonvilla">
						<input type="submit" value="ASTONVILLA" onclick="return astonvilla();" />
						<script>
						function astonvilla() {
							document.getElementById('choose_team').value = "ASTONVILLA";
							return true;
						}
						</script>
					</li>
					<li id="chelsea">
						<input type="submit" value="CHELSEA" onclick="return chelsea();" />
						<script>
						function chelsea() {
							document.getElementById('choose_team').value = "CHELSEA";
							return true;
						}
						</script>
					</li>
					<li id="crystalpalace">
						<input type="submit" value="CRYSTALPALACE" onclick="return crystalpalace();" />
						<script>
						function crystalpalace() {
							document.getElementById('choose_team').value = "CRYSTALPALACE";
							return true;
						}
						</script>
					</li>
					<li id="everton">
						<input type="submit" value="EVERTON" onclick="return everton();" />
						<script>
						function everton() {
							document.getElementById('choose_team').value = "EVERTON";
							return true;
						}
						</script>
					</li>
					<li id="leicester">
						<input type="submit" value="LEICESTER" onclick="return leicester();" />
						<script>
						function leicester() {
							document.getElementById('choose_team').value = "LEICESTER";
							return true;
						}
						</script>
					</li>
					<li id="liverpool">
						<input type="submit" value="LIVERPOOL" onclick="return liverpool();" />
						<script>
						function liverpool() {
							document.getElementById('choose_team').value = "LIVERPOOL";
							return true;
						}
						</script>
					</li>
					<li id="mancity">
						<input type="submit" value="MANCITY" onclick="return mancity();" />
						<script>
						function mancity() {
							document.getElementById('choose_team').value = "MANCITY";
							return true;
						}
						</script>
					</li>
					<li id="manunited">
						<input type="submit" value="MANUNITED" onclick="return manunited();" />
						<script>
						function manunited() {
							document.getElementById('choose_team').value = "MANUNITED";
							return true;
						}
						</script>
					</li>
					<li id="newcastle">
						<input type="submit" value="NEWCASTLE" onclick="return newcastle();" />
						<script>
						function newcastle() {
							document.getElementById('choose_team').value = "NEWCASTLE";
							return true;
						}
						</script>
					</li>
					<li id="norwich">
						<input type="submit" value="NORWICH" onclick="return norwich();" />
						<script>
						function norwich() {
							document.getElementById('choose_team').value = "NORWICH";
							return true;
						}
						</script>
					</li>
					<li id="southampton">
						<input type="submit" value="SOUTHAMPTON" onclick="return southampton();" />
						<script>
						function southampton() {
							document.getElementById('choose_team').value = "SOUTHAMPTON";
							return true;
						}
						</script>
					</li>
					<li id="stoke">
						<input type="submit" value="STOKE" onclick="return stoke();" />
						<script>
						function stoke() {
							document.getElementById('choose_team').value = "STOKE";
							return true;
						}
						</script>
					</li>
					<li id="sunderland">
						<input type="submit" value="SUNDERLAND" onclick="return sunderland();" />
						<script>
						function sunderland() {
							document.getElementById('choose_team').value = "SUNDERLAND";
							return true;
						}
						</script>
					</li>
					<li id="swansea">
						<input type="submit" value="SWANSEA" onclick="return swansea();" />
						<script>
						function swansea() {
							document.getElementById('choose_team').value = "SWANSEA";
							return true;
						}
						</script>
					</li>
					<li id="totenham">
						<input type="submit" value="TOTENHAM" onclick="return totenham();" />
						<script>
						function totenham() {
							document.getElementById('choose_team').value = "TOTENHAM";
							return true;
						}
						</script>
					</li>
					<li id="watford">
						<input type="submit" value="WATFORD" onclick="return watford();" />
						<script>
						function watford() {
							document.getElementById('choose_team').value = "WATFORD";
							return true;
						}
						</script>
					</li>
					<li id="westbrom">
						<input type="submit" value="WESTBROM" onclick="return westbrom();" />
						<script>
						function westbrom() {
							document.getElementById('choose_team').value = "WESTBROM";
							return true;
						}
						</script>
					</li>
					<li id="westham">
						<input type="submit" value="WESTHAM" onclick="return westham();" />
						<script>
						function westham() {
							document.getElementById('choose_team').value = "WESTHAM";
							return true;
						}
						</script>
					</li>
				</ul>
			</form>
		</div> <!-- end teamsMenu -->
		<div id="teamLogo">
				<br/>
				<img id="team_logo" src=""></img> <!-- end team_logo -->
				<script>
				if( team !== null && team !== ""){
					var logo_path = "images/"+team+".png";
					document.getElementById('team_logo').src = logo_path;
				}
				</script>
		</div> <!-- end teamImage -->
		<div id="mainGraph">
			<br/>
			<div id="results">
			</div><!-- end results -->

			<div id="results2">
			</div><!-- end results2 -->

			<div id="results3">
			</div><!-- end results3 -->

			<div id="results4">
			</div><!-- end results4 -->

			<div id="results4">
			</div><!-- end results4 -->

			<div id="results5">
			</div><!-- end results5 -->

			<div id="results6">
			</div><!-- end results6 -->

			<div id="legend">
			</div><!-- end legend -->


			<script>

				var height = 300;
				var width = 750;
				var graphLeftMargin = 150;
				var paddingGraphTop = 30;
				var paddingGraphDown = 30;
				var svg = d3.select("#results").append("svg").attr("width",width).attr("height",height+paddingGraphTop+paddingGraphDown);

				console.log(" GETTING popularity data for : "+team);
				
				svg.append("text")      // text label for the x axis
					.attr("x", width/3 )
					.attr("y",  15 )
					.style("text-anchor", "middle")
					.text("Positive And Negative Tweets About Matches");


				// The Y Axis Label : 
				svg.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", graphLeftMargin/2)
					.attr("x",-height/2)
					.attr("dy", "1em")
					.style("text-anchor", "middle")
					.text("Tweets Count");

				var posRec = svg.append("rect");
				posRec.attr("x", width/2 )
					.attr("y", 40)
					.attr("height", 20)
					.attr("width", 40)
					.style("fill", "teal");		

				var negRec = svg.append("rect");
				negRec.attr("x", width/2 )
					.attr("y", 70)
					.attr("height", 20)
					.attr("width", 40)
					.style("fill", "red");

				svg.append("text")
						.text("Positive")
						.attr("x", width/2 + 70)
						.attr("y", 55)
						.style("text-anchor", "middle");

				svg.append("text")
						.text("Negative")
						.attr("x", width/2 + 70)
						.attr("y", 85)
						.style("text-anchor", "middle");

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/popularity/"+team, function(error, days){

						var barsPos = svg.selectAll("rect.barPos").data(days);
			
						barsPos.enter().append("rect").classed("barPos", true);

						barsPos
						.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80;})
						.attr("width",30)
						.attr("y", function(d) {
							return height + paddingGraphTop - (d.pos_count/5).toPrecision(4);
						})
						.attr("height", function (d) { return (d.pos_count/5).toPrecision(4);})
						.attr("fill", "teal");


						var barsNeg = svg.selectAll("rect.barNeg").data(days);
			
						barsNeg.enter().append("rect").classed("barNeg", true);

						barsNeg
						.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80 + 30;})
						.attr("width",30)
						.attr("y", function(d) {
							return height + paddingGraphTop - (d.neg_count/5).toPrecision(4);
						})
						.attr("height", function (d) { return (d.neg_count/5).toPrecision(4);})
						.attr("fill", "red");


						svg.selectAll("text.pos_count")
						.data(days)
						.enter()
						.append("text")
						.classed("pos_count", true)
						.text(function(d) {
							return d.pos_count;
						})
						.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80 + 15;})
						.attr("y", function(d) {
							return height + paddingGraphTop - (d.pos_count/5).toPrecision(4) - 1;
						})
						.style("text-anchor", "middle");


						svg.selectAll("text.neg_count")
						.data(days)
						.enter()
						.append("text")
						.classed("neg_count", true)
						.text(function(d) {
							return d.neg_count;
						})
						.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80 + 45;})
						.attr("y", function(d) {
							return height + paddingGraphTop - (d.neg_count/5).toPrecision(4) - 1;
						})
						.style("text-anchor", "middle");




						svg.selectAll("text.date")
						.data(days)
						.enter()
						.append("text")
						.classed("date", true)
						.text(function(d) {
							return d.date;
						})
						.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80 + 30;})
						.attr("y", function(d) {
							return 315 + paddingGraphTop;
						})
						.style("text-anchor", "middle")
						.on("click", function(d) { dateClick(d.date) });

					});
				}


				function dateClick(date) {
					console.log(date);
					document.getElementById('stats_date').value = date;
					document.getElementById('choose_team').value = team;
					document.forms["teams_form"].submit();
				}


		
					// Vertical Scale
					//var vScale = d3.scale.linear()
					//	.domain([0, height*5])
					//	.range([height, 0]);

					// Vertical Scale
					var vScale = d3.scale.linear()
						.domain([0, height*5])
						.range([height+paddingGraphTop, 0+paddingGraphTop]);

					// V Axis
					var vAxis = d3.svg.axis()
						.scale(vScale)
						.orient('left')
						.ticks(5);


					var vGuide = d3.select('svg').append('g');

					vAxis(vGuide);

					vGuide.attr('transform','translate('+graphLeftMargin+',0)');
					vGuide.selectAll('path')
						.style('fill','none')
						.style('stroke','#000')
					vGuide.selectAll('line')
						.style('stroke','#000')

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/stats/Attack/"+team, function(error, attacks){
				
						var svg2 = d3.select("#results2").append("svg").attr("width",750)
												.attr("height",30);			

						var rectangles = svg2.selectAll("rect").data(attacks).enter().append("rect");

						//var ramp = d3.scale.linear().domain([0,3]).range(["white","red","blue","black"]);
						var ramp=d3.scale.ordinal().domain(["0","1","2","3"]).range(["#FFFFFF","#1AFF1A","#008000","#003300"]);

						var rectangleAttributes = rectangles
								.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80; })
								.attr("y", 0)
								.attr("height", 20)
								.attr("width", 60)
								.style("fill", function(d) { return ramp(d.value); });
						
						svg2.append("text")
						.text("Attack : ")
						.attr("x",  graphLeftMargin - 90)
						.attr("y", 15)
						//.style("text-anchor", "middle");
						
//						svg2.selectAll("date.feature_date")
//						.data(attacks)
//						.enter()
//						.append("text")
//						.classed("feature_date", true)
//						.text(function(d) {
//							return d.date;
//						})
//						.attr("x", function (d,i) { return 60 + 10 + i * 80 + 30;})
//						.attr("y", 22)
//						.style("text-anchor", "middle");

				});}

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/stats/Aggressiveness/"+team, function(error, agres){
				
						var svg3 = d3.select("#results3").append("svg").attr("width",750)
												.attr("height",30);			

						var rectangles = svg3.selectAll("rect").data(agres).enter().append("rect");

						//var ramp = d3.scale.linear().domain([0,3]).range(["white","red","blue","black"]);
						var ramp=d3.scale.ordinal().domain(["0","1","2","3"]).range(["#FFFFFF","#1AFF1A","#008000","#003300"]);

						var rectangleAttributes = rectangles
								.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80; })
								.attr("y", 0)
								.attr("height", 20)
								.attr("width", 60)
								.style("fill", function(d) { return ramp(d.value); });
						
						svg3.append("text")
						.text("Aggressiveness : ")
						.attr("x",  graphLeftMargin - 90)
						.attr("y", 15)
						//.style("text-anchor", "middle");

				});}

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/stats/Pressure/"+team, function(error, pressures){
				
						var svg4 = d3.select("#results4").append("svg").attr("width",750)
												.attr("height",30);			

						var rectangles = svg4.selectAll("rect").data(pressures).enter().append("rect");

						//var ramp = d3.scale.linear().domain([0,3]).range(["white","red","blue","black"]);
						var ramp=d3.scale.ordinal().domain(["0","1","2","3"]).range(["#FFFFFF","#1AFF1A","#008000","#003300"]);

						var rectangleAttributes = rectangles
								.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80; })
								.attr("y", 0)
								.attr("height", 20)
								.attr("width", 60)
								.style("fill", function(d) { return ramp(d.value); });
						
						svg4.append("text")
						.text("Pressure : ")
						.attr("x",  graphLeftMargin - 90)
						.attr("y", 15)
						//.style("text-anchor", "middle");

				});}

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/stats/Teamplay/"+team, function(error, teamPlay){
				
						var svg5 = d3.select("#results5").append("svg").attr("width",750)
												.attr("height",30);			

						var rectangles = svg5.selectAll("rect").data(teamPlay).enter().append("rect");

						//var ramp = d3.scale.linear().domain([0,3]).range(["white","red","blue","black"]);
						var ramp=d3.scale.ordinal().domain(["0","1","2","3"]).range(["#FFFFFF","#1AFF1A","#008000","#003300"]);

						var rectangleAttributes = rectangles
								.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80; })
								.attr("y", 0)
								.attr("height", 20)
								.attr("width", 60)
								.style("fill", function(d) { return ramp(d.value); });
						
						svg5.append("text")
						.text("Teamplay : ")
						.attr("x",  graphLeftMargin - 90)
						.attr("y", 15)
						//.style("text-anchor", "middle");

				});}

				if( team !== null && team !== ""){
					d3.json("http://localhost:5000/stats/Accuracy/"+team, function(error, accuracies){
				
						var svg6 = d3.select("#results6").append("svg").attr("width",750)
												.attr("height",30);			

						var rectangles = svg6.selectAll("rect").data(accuracies).enter().append("rect");

						//var ramp = d3.scale.linear().domain([0,3]).range(["white","red","blue","black"]);
						var ramp=d3.scale.ordinal().domain(["0","1","2","3"]).range(["#FFFFFF","#1AFF1A","#008000","#003300"]);

						var rectangleAttributes = rectangles
								.attr("x", function (d,i) { return graphLeftMargin + 10 + i * 80; })
								.attr("y", 0)
								.attr("height", 20)
								.attr("width", 60)
								.style("fill", function(d) { return ramp(d.value); });
						
						svg6.append("text")
						.text("Accuracy : ")
						.attr("x", graphLeftMargin - 85)
						.attr("y", 15)
						//.style("text-anchor", "middle");

				});}

				if( team !== null && team !== ""){
				
					var svg7 = d3.select("#legend").append("svg").attr("width",750).attr("height",100);			





					var rectangle1 = svg7.append("rect");
					rectangle1.attr("x",  250+80)
						.attr("y", 0)
						.attr("height", 20)
						.attr("width", 80)
						.style("fill", "#1AFF1A");		

					var rectangle2 = svg7.append("rect");
					rectangle2.attr("x",  250+2*80 )
						.attr("y", 0)
						.attr("height", 20)
						.attr("width", 80)
						.style("fill", "#008000");			

					var rectangle3 = svg7.append("rect");
					rectangle3.attr("x",  250+3*80 )
						.attr("y", 0)
						.attr("height", 20)
						.attr("width", 80)
						.style("fill", "#003300");		


					svg7.append("text")
						.text("LOW")
						.attr("x", 250+80+40)
						.attr("y", 15)
						.style("text-anchor", "middle");
					svg7.append("text")
						.text("MEDIUM")
						.attr("x", 250+2*80+40)
						.attr("y", 15)
						.style("text-anchor", "middle");
					svg7.append("text")
						.text("HIGH")
						.attr("x", 250+3*80+40)
						.attr("y", 15)
						.style("text-anchor", "middle");					
	
				}
		

			</script>


		</div> <!-- end mainGraph -->

		<div id="statsWrapper">

			<div id="statsGraph">
				<div id="pieChart">
				</div>  <!-- end pieChart -->
				<br/>
				<div id="stats">
					Passes : <input type="text" name="passes" id="passes" value="" readonly><br>
					Shots On Target : <input type="text" name="shotsOnTarget" id="shotsOnTarget" value="" readonly><br>
					Shots Off Target : <input type="text" name="shotsOffTarget" id="shotsOffTarget" value="" readonly><br>
					Corners : <input type="text" name="corners" id="corners" value="" readonly><br>
					Fouls Conceded : <input type="text" name="foulsConceded" id="foulsConceded" value="" readonly><br>
					Goals : <input type="text" name="goals" id="goals" value="" readonly><br>
					Fouls Won : <input type="text" name="foulsWon" id="foulsWon" value="" readonly><br>
					Possesion : <input type="text" name="possesion" id="possesion" value="" readonly><br>
					OffSide : <input type="text" name="offSide" id="offSide" value="" readonly><br>
					Yellow Cards : <input type="text" name="yellowCards" id="yellowCards" value="" readonly><br>

				</div>  <!-- end stats -->
				
			</div>  <!-- end statsGraph -->
			
			<script>

			if(team !== null && team !== "" && stats_date !== null && stats_date !== ""){

				d3.json("http://localhost:5000/popularity/"+team+"/"+stats_date, function(error, matchTweets){

					var width = 200;
					var height = 200;
					var radius = Math.min(width, height) / 2;


					var color = d3.scale.ordinal().range(['#648C85', '#A60F2B']);

					var svg3 = d3.select('#pieChart')
							.append('svg')
							.attr('width', width)
							.attr('height', height)
							.append('g')
							.attr('transform', 'translate(' + (width / 2) +  ',' + (height / 2) + ')');

					var arc = d3.svg.arc().outerRadius(radius);


					var pie = d3.layout.pie()
						.value(function(d) { return d.count; })
						.sort(null);

					var path = svg3.selectAll('path')
						.data(pie(matchTweets))
						.enter()
						.append('path')
						.attr('d', arc)
						.attr('fill', function(d, i) { 
							return color(d.data.label);
						});

				});

				var j = $.getJSON('http://localhost:5000/stats_details/'+team+'/'+stats_date,
						function(stats) { 
							console.log('Data returned from server: ', stats[0]);
							document.getElementById("stats").style.display= "inline";
							document.getElementById('passes').value = stats[0].passes;
							document.getElementById('shotsOnTarget').value = stats[0].shotsOnTarget;
							document.getElementById('shotsOffTarget').value = stats[0].shotsOffTarget;
							document.getElementById('corners').value = stats[0].corners;
							document.getElementById('foulsConceded').value = stats[0].foulsConceded;
							document.getElementById('goals').value = stats[0].goals;
							document.getElementById('foulsWon').value = stats[0].foulsWon;
							document.getElementById('possesion').value = stats[0].possesion;
							document.getElementById('offSide').value = stats[0].offSide;
							document.getElementById('yellowCards').value = stats[0].yellowCards;

						})
					.done(function() { console.log('Successful execution');})
					.fail(function() {console.log('Error');})
					.always(function() { console.log('Complete');
			});


			} else{
				document.getElementById("stats").style.display= "none";			
			}


			</script>
					
		</div> <!-- end statsWrapper -->
		<div class="clear"></div>
		<div id="footer">
		</div> <!-- end footer -->

	</div> <!-- end wrapper -->

</body>
</html>
